[2019-07-01 10:39] jonaskello opened #1 "Update readme for eslint and split into smaller files"
See also this [tslint-immutable issue](https://github.com/jonaskello/tslint-immutable/issues/142).

[2019-07-01 18:52] #1 closed

[2019-07-02 11:55] jonaskello opened #4 "Deprecate ignore-prefix and ignore-suffix?"
Now that we have `ignore-pattern` perhaps it is a good time to deprecate `ignore-prefix` and `ignore-suffix`? Having a single option will simplify the code and docs. The only advantage I can see is that a prefix/suffix check might be faster than a regex check but probably not enough to be noticeable.

[2019-07-04 00:10] RebeccaStevens commented on #4
The only reason I see to keep `ignore-prefix` and `ignore-suffix` around is that they are slightly easier to use.
Removing them won't really simplify the code much as they are each quite [small functions](https://github.com/jonaskello/eslint-plugin-ts-immutable/blob/8e4f2a2684e14c2334e6257528197f5965734527/src/common/ignore-options.ts#L198-L234) that are each only called once ([in the same place t

[2019-07-04 09:28] jonaskello commented on #4
Yes, you're right, this was mainly an issue when I was doing the docs :-). Documenting 3 options when one would be enough seemed redundant. Regarding `ignorePrefix` I ran across something similar for the [`@typescript-eslint/no-unused-vars`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-unused-vars.md) rule. I wanted to ignore function para

[2019-07-05 02:42] RebeccaStevens commented on #4
Not quite, `ignorePattern` uses regex matching under the hood but the pattern you supply it with is more of a minimatch pattern. The reason I implemented it as such is so that object member pattern matching could be easily done.

Thus
* To emulate `ignorePrefix`: `ignorePattern: "*prefixToIgnore"`.
* To emulate `ignoreSuffix`: `ignorePattern: "suffixToIgnore*"`.

I've just created a few tests (as

[2019-07-05 17:03] jonaskello commented on #4
Aha so I thought `ignorePattern` took a regular expression. Is there a reason it was not done with regular expressions? I'm guessing simplified patterns but not sure? Perhaps we could switch to use regular expressions like in the  [`argsIgnorePattern`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-unused-vars.md#argsignorepattern) option of

[2019-07-07 21:29] RebeccaStevens commented on #4
The reason I implemented it with minimatch-like pattern matching was so accessor paths could more easily be matched against.

For example:
[code]

We could switch over to simply using regex pattern matching but I don't think the above examples can easily translate.

[2019-07-07 22:19] RebeccaStevens commented on #4
The reason I implemented it with minimatch-like pattern matching was so accessor paths could more easily be matched against.

For example:
[code]

We could switch over to simply using regex pattern matching but I don't think the above examples can easily be translated.

This sort of pattern matching is nice for accessors but it doesn't really make sense for rules like `no-expression-statement`; re

[2019-07-07 22:27] jonaskello commented on #4
Well, easy and regex is not two words I usually relate so I think you are right about the translation :-).

OTOH regex is very flexible and well documented so it has that going for it. I guess it's a trade-off between flexible and well documented, or easy for common cases. Perhaps we can document accessor path matching regexs like the ones above so ppl don't have to figure them out by themselves.

[2019-07-07 22:52] RebeccaStevens commented on #4
I've just been looking at how ignore-pattern is currently implemented and it's not passing all cases in the above examples. I believe the pattern matching itself is correct but what node is does the pattern matching on is not (e.g. in some cases pattern matching is being done on an AssignmentExpression node instead of the child MemberExpression node's object property).

Seems there are bugs in the

[2019-07-07 23:20] RebeccaStevens commented on #4
We could have it so there are two options `ignore-pattern` and `ignore-accessor-pattern`; where `ignore-pattern` does regex pattern matching against the top most node and is available for all rules that want the ability to ignore things, and `ignore-accessor-pattern` does minimatch-like pattern matching against the accessor and is available only for rules where it makes sense.

[2019-07-09 05:45] RebeccaStevens opened #10 "new rule: no-switch-statement"
Switch statements are just fancy if statement but even less functional.

It's probably safe to extend `no-if-statement` to check for this rather than creating a new rule. @jonaskello Would you agree?

[2019-07-09 12:06] jonaskello commented on #10
Adding to an existing rule will keep the number of rules down which probably is a good thing. Perhaps we can rename `no-if-statement` to something like `no-conditional-statement` and have options to ignore `if` or `switch`.

It might be interesting to document alternatives to `switch`. I use `switch` a lot together with exhaustive type checking to emulate pattern matching. However it is still a st

[2019-07-10 21:49] #4 closed

[2019-07-12 00:55] RebeccaStevens opened #11 "Rename rules and options"
Looking at other plugins, they are tending to move away from `no-` and `ignore` prefixes.

Some of our rules names are also inconsistent, some end with `statement` while others don't despite them both refering to statements.

## New Name Proposals

### Rules

| Current Name             | New Name                  | Theme         |
| :----------------------- | :------------------------ | :---------

[2019-07-12 00:59] RebeccaStevens opened #12 "[no-delete] Deprecate rule"
The `no-delete` rule doesn't really offer anything anymore. `no-array-mutation` and `no-object-mutation` will detect use of delete statements.

[2019-07-12 03:05] RebeccaStevens opened #13 "[no-let] Remove fixer"
This fix doesn't actually fix the problem; it just turns the `let` into a `const` and makes "cannot reassign to const" issues. This fix breaks things more than it fixes them.

Note: If the `prefer-const` rule is in use, it's fix will fix `let`s only when they aren't reassigned to.

[2019-07-12 03:36] RebeccaStevens opened #15 "new rule: functional-parameters"
- Prevents use of `arguments` keyword
- Prevents use of rest parameters
- Option to enforce all function have at least 1 parameter
- Option to enforce all function have exactly 1 parameter

[2019-07-12 03:41] RebeccaStevens opened #16 "[immutable-data] Prevent object mutation methods"
Prevent use of:

[code]

[2019-07-12 03:52] RebeccaStevens commented on #16
Should probably also prevent setting `Object.prototype.valueOf`.

i.e. Prevent this:

[code]

Not sure if `Symbol.toPrimitive` should be prevent as well.

[2019-07-12 04:31] #13 closed

[2019-07-12 09:22] jonaskello commented on #12
Yes, this will reduce the number of rules.

[2019-07-12 09:32] jonaskello commented on #11
I think I read somewhere about guidelines for naming rules. Don't remember if it was for tslint or eslint and now I cannot find it again :-/. Do you have some links to examples of other plugins?

Looking at the [built-in](https://eslint.org/docs/rules/) rules they seem to be mostly have the prefix `no-*` or `prefer-*`. Many have no prefix at all though.

[2019-07-12 09:46] jonaskello commented on #11
There also the question if we should divide the rules into smaller more distinct rules, or have more thematic rules with more options. For example instead of `no-if-statement` and `no-switch-statment` we can have `no-conditional-statment`. There is also `no-expression-statment` which is about preventing statments. Perhaps all of them could be collapsed into `no-statements` with some options for th

[2019-07-12 09:48] jonaskello commented on #11
`no-this`, `no-class` could probably be joined too?

[2019-07-12 09:51] jonaskello commented on #11
Regarding `no-let` vs `enforce-const` that could make sense if we also add that it should enforce [const-assertions](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-4.html#const-assertions).

[2019-07-12 10:00] jonaskello commented on #10
Perhaps the `no-conditional-statement` could have an option to ignore constructs where every branch of the conditional ends with `return`. This is probably the closes we can get to making `if` or `switch` an expression in typescript? I'm thinking either wrapping in an IIFE or in a separate function should be allowed, and in both cases the branches all have to end with `return`. For example this sh

[2019-07-12 10:16] jonaskello commented on #11
When considering the rule names and separation, perhaps it would be help to identify some main themes that are needed to make typescript functional. Something like:

* Immutability
* No statements
* No exceptions
* No object orientation

[2019-07-12 10:30] jonaskello opened #17 "Package name"
Continuing from [these comments](https://github.com/jonaskello/eslint-plugin-ts-immutable/pull/8#issuecomment-509609725).

The current name `eslint-plugin-ts-immutable` has some drawbacks:

* It's long
* It implies that the package is explicitly for ts, while many rules work with plain js.
* It implies the rules are only for immutability, while many rules are for fp style.

Some alternative names:

[2019-07-14 21:09] RebeccaStevens commented on #11
I think it would be a good idea to merge `no-array-mutation` and `no-object-mutation` together into a single rule. Both these rules are quite similar under the hood and preform many of the aam

readonly-keyword
readonly-array
no-let
no-method-signature
no-delete
no-this
no-class
no-mixed-interface
no-expression-statement
no-if-statement
no-loop-statement
no-throw
no-try
no-reject

[2019-07-14 21:11] RebeccaStevens commented on #11
*Didn't mean to close this.*

[2019-07-14 21:14] RebeccaStevens commented on #11
I think it would be a good idea to merge `no-array-mutation` and `no-object-mutation` together into a single rule. Both these rules are quite similar under the hood and preform many of the same checks.

`readonly-keyword` and `readonly-array` could also potentially be merged.

[2019-07-14 22:06] RebeccaStevens opened #18 "Merge rules: no-array-mutation and no-object-mutation"
See #11

[2019-07-14 22:06] RebeccaStevens opened #19 "Merge rules: readonly-keyword and readonly-array"
See #11

[2019-07-14 22:08] RebeccaStevens opened #20 "Merge rules: no-throw, no-try (possibly also no-reject)"
See #11

[2019-07-15 01:36] RebeccaStevens commented on #11
With regard to naming rule guidelines, I think I was making assumptions after seeing a rule at some point deprecated in favour of another rule that wasn't prefixed with `no-` in eslint itself. So disregard where I said `no-` prefixes are being moved way form.

That being said, in case where we can give a rule a non-negative asserting name, I think that would be preferable to a negative asserting o

[2019-07-15 01:46] #18 closed

[2019-07-15 01:59] #12 closed

[2019-07-16 02:04] RebeccaStevens opened #24 "new rule: no-return-void"
Don't allow explicit function return types to be `void`, functional function should return something.

[2019-07-16 02:06] RebeccaStevens commented on #12
Removed rather than deprecated as project is still before 1.0 release.

[2019-07-16 02:06] RebeccaStevens commented on #4
Removed rather than deprecated as project is still before 1.0 release.

[2019-07-16 11:48] jonaskello opened #25 "Enforce ReadonlySet over Set, and ReadonlyMap over Map"
Transfered from jonaskello/tslint-immutable#109

[2019-07-17 22:01] RebeccaStevens commented on #10
Closed by #23

[2019-07-17 22:01] #10 closed

[2019-07-18 03:44] #16 closed

[2019-07-18 04:13] #15 closed

[2019-07-18 04:25] #24 closed

[2019-07-19 00:28] RebeccaStevens opened #31 "Ugly Tests"
Some test files have become really big and hard to read/understand.

They need to be broken up into smaller files.
Improvements to test util functions may help reduce test bulkiness.

[2019-07-19 00:48] RebeccaStevens opened #32 "Prefer Readonly<T> over readonly keyword"
Transferred from jonaskello/tslint-immutable#58

[2019-07-19 00:51] RebeccaStevens commented on #32
This enhancement will most likely require quite a few new tests; #31 probably needs to be sorted out beforehand.

[2019-07-19 01:12] RebeccaStevens opened #33 "Migration Guide"
Create a migration guide for those coming from [tslint-immutable](https://github.com/jonaskello/tslint-immutable).

Guide should have:
- Brief summery of tslint to eslint migration
  - Link to the official migration guide
- List of our tslint rules mapped to the our equivalent eslint rules
  - Changes to the options should also be listed

[2019-07-19 01:32] RebeccaStevens opened #34 "Create Tests for Configs"
- Test the `all` config has all the rules.
- Test that rules that only apply to ts files are only turned on in the `overrides` section.
  - Test that rules that apply to both js and ts are only turned on in the main `rules` section.

[2019-07-19 03:31] #19 closed

[2019-07-19 03:32] #25 closed

[2019-07-19 04:20] RebeccaStevens commented on #33
Following [eslint's user guide](https://github.com/eslint/eslint/blob/master/docs/user-guide) structure, the maintainer-guide should be located at `docs/user-guide/migrating-from-tslint.md`

[2019-07-19 04:25] RebeccaStevens opened #35 "new rule: prefer-type"
Interfaces are part of object oriented design.
In functional programming, Types should be used instead.

See jonaskello/tslint-immutable#4 for previous discussion.

[2019-07-19 04:45] RebeccaStevens commented on #17
I'm thinking `eslint-plugin-functional` is probably the best option now.
The number of functional rules has continued to grow while the number of purely immutable rules has decreased (due to some merging).

[2019-07-19 11:54] jonaskello commented on #35
When I started out in typescript some years ago I used `type` everywhere because I thought it was nicer than `interface`. However I soon realised the error messages involving `type` became very hard to read because they repeated the whole type definition while interface error messages just used the interface name. So I switched to use `interface` as much as possible and haven't thought about it si

[2019-07-19 12:03] RebeccaStevens commented on #35
Those are some really good points.
I think having a `no-oo` rule with a bunch of options might be the best approach.

[2019-07-19 13:12] #17 closed

[2019-07-19 13:24] jonaskello commented on #17
@RebeccaStevens FYI, the package and repo are now named eslint-plugin-functional.

[2019-07-21 22:22] RebeccaStevens commented on #35
After reflecting on this, I think the best option is to simply create a new rule. Let's keep no oo as a category rather than a rule.

[2019-07-21 23:10] RebeccaStevens opened #37 "Add option to functional-parameters to allow IIFEs."
Option to allow this:

[code]

[2019-07-22 02:56] RebeccaStevens opened #41 "no-mixed-types"
`no-mixed-interface` should be renamed to `no-mixed-types` and support checking types.

[2019-07-22 03:19] #35 closed

[2019-07-22 03:19] #37 closed

[2019-07-26 04:12] #41 closed

[2019-07-26 04:48] RebeccaStevens commented on #20
@jonaskello I'm not sure about merging these rules as they are designed to stop different things.

- `no-throw` is designed to prevent creating exceptions.
- `no-try` is designed to prevent handling exceptions (which often can't be avoided when it comes to
 using non-functional 3rd-party libraries)
- `no-reject` is designed to prevent rejecting promises, making them act as a single type (rather th

[2019-07-26 07:38] #34 closed

[2019-07-26 11:27] ulrichb opened #44 ""ignoreAccessorPattern" doesn't behave like the TSLint version"
My new ESLint config:
[code]

My old TSLint config:

[code]

And here the sample code, where it behaves differently:

[code]

Am I doing something wrong?

[2019-07-26 11:33] ulrichb opened #45 "'ignorePattern' issue with modifier"
Using the following config:

`"functional/prefer-readonly-types": ["error", { ignorePattern: ["^mutable"] }]`

... the following code reports an error.

[code]

Workaround:
`"functional/prefer-readonly-types": ["error", { ignorePattern: ["^(private )?mutable"] }]`

[2019-07-26 13:52] ulrichb commented on #45
Similar issue with locals:

[code]

[2019-07-26 16:50] RebeccaStevens commented on #44
Hey, the `ignoreAccessorPattern` option in this project works a bit different to the `ignore-pattern` option from the old tslint version.

The option in the tslint version was designed to work on based on the name of the "container" being modified, while the new eslint version's option is designed to work based on the name of the object being modified.

For example, with `foo.bar = 1;`, bar is the

[2019-07-26 16:57] RebeccaStevens commented on #33
Mentioned how "ignoreAccessorPattern" option now differs (#44)

[2019-07-26 17:08] RebeccaStevens commented on #45
As of right now, we haven't sorted out what text in each node type for each rule "ignorePattern" should check against. We'll make sure this is sorted before the 1.0 release.

[2019-07-26 19:12] ulrichb commented on #44
Hi @RebeccaStevens.

Thanks for your answer.

I've updates my settings to `["**.mutable*.*", "**.current.*"]` (and also the description above).

Still the same issue with the sample code above.

Could you verify this (and reopen if yes)?

[2019-07-26 19:14] ulrichb commented on #45
Okay. Thanks for the update!

[2019-07-26 19:18] RebeccaStevens commented on #44
I'll take another look a bit late. I'll reopen to remind myself to do so.

[2019-07-28 12:04] jonaskello commented on #20
I think we can keep them the same as in tslint-immutable, that will also make it easier to migrate.

[2019-07-28 12:11] jonaskello commented on #32
I think we should keep the rule to check for `readonly` attributes but we could add this somehow as an option or separate rule. Since it would be an addition it would not require a major version increment so we could probably look into it post 1.0.0.

[2019-07-28 12:33] jonaskello commented on #11
I've been thinking a bit about these changes and some of the other changes being discussed and perhaps we're trying to work too much change into 1.0.0. Another way to look at it would be to make 1.0.0 more like tslint-immutable and then work with more changes for coming major versions (2.0.0 and forward). Having a 1.0.0 that is closer to tslint-immutable would make it easier to migrate and we woul

[2019-07-28 22:44] RebeccaStevens commented on #44
Hi @ulrichb,

Sorry I got it wrong before, you caught me just as I was going to bed :stuck_out_tongue:.

As of right now there is no way to ignore based on a property name (what I refer to as the "container" earlier), only on an object name.

So with `this.mutableSomething = "xx";`, `this` is name of the object and with `somethingLikeReactUseRef.current = "y";`, `somethingLikeReactUseRef` is the n

[2019-07-28 22:44] #44 closed

[2019-07-28 22:51] RebeccaStevens opened #46 "[immutable-data] Add option to ignore based on property name."
Related to #44

Currently this cannot be ignore via `ignoreAccessorPattern`:

[code]

With classes, individual fields cannot be ignored:

[code]

[2019-07-28 23:08] RebeccaStevens commented on #46
Possible solutions:

1. `ignoreAccessorPattern` could be changed to match on the object path + property name.
  - Advantages
    - Simple
  - Disadvantages
    - Pattern matching changes:
      - `.*` will need to be added to the end of patterns for shallow matching (before nothing was needed)
      - `.*.**` will need to be added to the end of patterns for deep matching (before it was just `.**`)

[2019-07-28 23:51] RebeccaStevens commented on #44
#47 should make things work a lot more like in the tslint version.

[2019-07-29 00:11] ulrichb commented on #44
Ah. okay. I misunderstood the (current) meaning of `ignoreAccessorPattern`.

So with #47 you change that behavior (to my original expectation), right?

[2019-07-29 00:49] RebeccaStevens commented on #44
Yes,

This config should work for your original code (once the update is merged in):

[code]

As only string are being modified in your code, property mutation doesn't need to be checked.
However, to allow for reassigning and property mutation use:

[code]

[2019-07-29 00:50] #46 closed

[2019-07-29 02:01] yosevukilonzo opened #49 "Can this plugin be used without TypeScript?"
Hello, it says in the readme that "Most rules can be used both for JavaScript and TypeScript". I assumed rules like `no-let` should work fine,  but I get a `Cannot find module 'typescript'` error. Please advise!

[2019-07-29 02:10] ulrichb commented on #44
Many, many thanks @RebeccaStevens !

Looking forward to the next beta release to try this out.

[2019-07-29 02:17] RebeccaStevens commented on #49
Which version of this plugin are you using? This plugin should be usable without TypeScript from version 0.2.1 onwards.

I haven't personally checked yet to see if it is in fact working as intended. If your using the latest version and receiving that error, let me know and I'll look into the issue.

[2019-07-29 02:35] RebeccaStevens commented on #46
Fixed using first solution

[2019-07-29 02:40] #20 closed

[2019-07-29 02:59] RebeccaStevens commented on #49
I just tested this with v0.4 and I got that same error. I tried again with the master branch and didn't get any issues. I'm about to make a new release. Could you try with that and see If you have any issues?

[2019-07-29 03:07] RebeccaStevens commented on #44
@ulrichb v0.5 is now out

[2019-07-29 03:29] yosevukilonzo commented on #49
Hey, thanks for checking! I installed 0.5 and till getting `Error: Failed to load plugin 'functional' declared in '.eslintrc.js': Cannot find module 'typescript'` unfortunately. It works fine if I install typescript.

[2019-07-29 03:42] RebeccaStevens commented on #49
Looks like this is an upstream issue with [@typescript-eslint/typescript-estree](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/typescript-estree/README.md).
[I've created an issue for this](typescript-eslint/typescript-eslint#770).

As a work around for now, I'd recommend installing typescript as a devDependency.

[code]

[2019-07-29 03:42] #49 closed

[2019-07-29 13:11] ulrichb commented on #44
Just updated. Works great! Many thanks!

[2019-07-29 13:14] ulrichb commented on #45
Similar issue:

[code]

...cannot be

ignored with `ignorePattern: ["^mutable"]`

Workaround: `ignorePattern: ["^(delete )?mutable"]`

[2019-07-29 13:17] ulrichb commented on #45
_Maybe_ similar issue:
[code]

Here I found no workaround.

[2019-07-29 13:37] ulrichb commented on #45
_Maybe_ related issue:

[code]

So the suppression works for the `readonly` of the property itself, but does not get applied for the property's _type_ (non readonly `string[]`).

[2019-07-29 13:39] ulrichb commented on #45
So these are all my scenarios which (I think) worked in the TSLint version and not in `eslint-plugin-functional`.

[2019-07-29 13:53] ulrichb opened #51 "[prefer-readonly-type] Support Readonly<T>"
Support the following case (at the moment `functional/prefer-readonly-type` gets emitted):

[code]

This is a prerequisite for #32 (which is about a fixer to `Readonly<T>` if I understand it correctly); but the validation can implemented before.

[2019-07-30 00:57] RebeccaStevens commented on #45
@ulrichb Thanks for finding all these :)

[2019-07-30 01:46] RebeccaStevens commented on #49
@yosevukilonzo, I've managed to modify the build process so that `@typescript-eslint` is no longer a dependency. In doing so, `typescript` will no longer be a peer dependency.

From the next release, things should now just work for vanilla JS out of the box.

[2019-07-30 21:48] #45 closed

[2019-07-30 22:23] ulrichb commented on #45
Many thanks @RebeccaStevens!

[2019-07-30 22:24] RebeccaStevens commented on #45
I'm about to make a new release. You can test that it's all working if you want :)

[2019-07-30 22:26] ulrichb commented on #45
Yeah! Will indeed test it :)

[2019-07-31 01:47] ulrichb commented on #45
Hi. Just tested it.

`Object.assign`, `delete` and `Array` type works.

... but I have now a new error for this case:

[code]
(worked in 0.5.1)

[2019-07-31 01:49] ulrichb commented on #45
... same issue with `mutableArr.splice(...)`

[2019-07-31 01:53] RebeccaStevens commented on #45
Good spot. I know exactly what's going on with this, I'll get it fixed up soon.
Do you want to open a new issue for this?

Looks like the tests are a little incomplete 😥

[2019-07-31 02:00] ulrichb opened #56 "'ignorePattern' doesn't work for array methods"
The option `{ ignorePattern: ["^mutable"] }` doesn't suppress ...

[code]
since 0.5.2 (and worked in 0.5.1).

... same issue with `mutableArr.splice(...)`

_Originally posted by @ulrichb in https://github.com/jonaskello/eslint-plugin-functional/issues/45#issuecomment-516659928_

[2019-08-02 14:37] #33 closed

[2019-08-02 14:40] RebeccaStevens opened #58 "[immutable-data] option `ignoreImmediateMutation` currently doesn't do anything"

[2019-08-02 15:05] ulrichb commented on #56
Many thanks for the fix!

[2019-08-04 23:31] #58 closed

[2019-08-06 13:42] RebeccaStevens commented on #11
@jonaskello I think everything is basically done now for a 1.0 release.
We may want to finish and merge #60 before the release but that's not a biggy.

I'll create a release candidate now.

I'll close this issue now and we can open up new issues for any further changes.

[2019-08-06 13:42] #11 closed

[2019-08-06 15:45] ulrichb commented on #56
Version 0.5.3 works great!

What do you think about this sample:

[code]

Should the `ignorePattern: ["^mutable"]` also suppress the second line (_array_ type as generic argument for `Map`)?

I'm not really sure ...

[2019-08-06 15:56] ulrichb commented on #56
... another question/example:

[code]

[2019-08-07 02:18] #56 closed

[2019-08-07 11:26] jonaskello commented on #11
@RebeccaStevens A big thank you for all the work you have put in to port the rules! 👍

Agreed #60 could be merged after release. I'll go ahead and put the release candidate to use in some of the larger projects I'm working on as soon as I can to get a feel for the stability etc. Just need to migrate the projects from tslint to eslint first :-)

[2019-08-08 14:23] yosevukilonzo opened #61 "Can immutability truly be enforced with ESLint or does it ultimately depend on developer discipline?"
Hey, I have a question regarding this part of the README:

Is there anything other than developer discipline that can prevent developers from using "Disabling Rules with Inline Comments"? Could you perhaps disallow use of `eslint-disable`?

[2019-08-08 14:45] RebeccaStevens commented on #61
Developer discipline is needed, however use of ESLint directive-comments can be marked as linting errors with [eslint-plugin-eslint-comments](https://mysticatea.github.io/eslint-plugin-eslint-comments/).

But the developer could always just disable eslint all together and go about mutating anything they want.

[2019-08-08 14:45] #61 closed

[2019-08-08 14:57] yosevukilonzo commented on #61
Thanks! I wasn't aware of that plugin.

[2019-08-13 12:37] mmkal opened #63 "discount await in ignorePattern"
Similar to https://github.com/jonaskello/tslint-immutable/issues/76 in the original library.
Right now if I configure `ignorePattern` to use a prefix with `^`, e.g.
[code]

It will be fine with lines starting with `expect`:
[code]
But it will still get angry at lines like
[code]

Could the `await` keyword be discounted when considering an expression? I realise that unlike tslint-immutable it's usi

[2019-09-05 07:05] jonaskello opened #64 "No warning on mutable return object in function signature"
This does not give any warning:

[code]

In this case I think the return type should have `readonly` modifiers enforced even if `ignoreLocal` is true (input/output of the function is not part of "local").

[code]

[2019-10-14 13:29] RebeccaStevens opened #66 "Readme mentions "tslint-immutable" where it should be mentioning this library"
Bolded in quoted text  from readme below:

[2019-10-20 12:03] zEh- opened #67 "Disallow type "never""
It's not possible to use a regular endless loop or throw an exception, but it might be a good idea to explicitly disallow type "never".
But that would mean, if you you disable "functional/no-throw-statement" in a situation, you would have to disable a potential "no-never" as well.

[2019-10-21 02:21] RebeccaStevens commented on #67
Could you give a code example of where disabling type "never" would be wanted?

Type "never" can be quite useful in some situation, for example checking that a switch statement is exhaustive:

[code]

[code]

Here, if a new option is added to the "Options" type, the "assertNever" call will error as "foo" is no longer of type "never".

[2019-10-21 08:01] zEh- commented on #67
Just as I prefer undefined over null and disallow any, I never need "never". Your case is totally valid, it's just not a pattern I use - so feel free to dismiss it.

[2019-10-21 12:53] zEh- opened #68 "'use strict' => functional/no-expression-statement"
'use strict' produces:
`Using expressions to cause side-effects not allowed. eslint(functional/no-expression-statement)`

This technically has side-effects but might be worth an exception to the rule, by default.

[2019-10-23 18:05] RebeccaStevens commented on #67
I'll mark this as out of scope of this project.
If more information about how this relates to functional programming is given I'll consider reopening this issue.

[2019-10-23 18:05] #67 closed

[2019-10-27 21:44] RebeccaStevens commented on #66
Closed by #69

[2019-10-27 21:44] #66 closed

[2019-12-04 18:44] codewylle opened #71 "New option ignoreVoid for no-expression-statement rule"
Eslint-plugin-functional helps avoiding errors not only in functional code, but in imperative code too. But no-expression-statement rule is too strict for imperative programming.

It would be great to have option `ignoreVoid` to allow expressions whose type is void (calling only-side-effect function or calling only-side-effect async function via await).

If function returns void, nobody will use i

[2019-12-05 04:49] RebeccaStevens commented on #71
That's a good suggestion. My only concern would be with regard to performance as getting the return type of every function call may be quite expensive (we'll need to do some testing to find out how expensive).

[2019-12-10 12:21] vicrac opened #72 "Ramda's `sort` function fails `immutable-data` rule"
It seems that essentially any `sort` function (even if it's a decent, non-mutating the original array one, like those from Ramda or fp-ts) makes this plugin complain - especially given https://github.com/jonaskello/eslint-plugin-functional/blob/7d98481a1967cf4558b0ca51c5db2fd7785cce1d/src/rules/immutable-data.ts#L116 contains `sort`.

My setup:
1. tsc 3.7.3
2. eslint 6.7.2
3. eslint-plugin-functio

[2019-12-11 08:14] RebeccaStevens commented on #72
Took me awhile to figure out what was going on here but I've managed to find the cause of the bug. I'll start working on a PR now.

Essentially the bug is that the [assumeTypes](https://github.com/jonaskello/eslint-plugin-functional/blob/master/docs/rules/immutable-data.md#assumetypes) option not being ignored properly when type information is available. If you set that option to false in the esli

[2019-12-11 08:45] #72 closed

[2019-12-11 09:57] #68 closed

[2019-12-11 16:07] whatisaphone opened #75 "[prefer-readonly-type] Should consider parameters to be non-local"
Thanks for this plugin and for migrating it to eslint!

I migrated our codebase yesterday and I noticed a possible regression from the tslint plugin. Consider this config and code:

TSLint config: `"readonly-keyword": [true, "ignore-local"]`

ESLint config: `"functional/prefer-readonly-type": ["error", { "allowLocalMutation": true }]`

[code]

The **TSLint** plugin warns about missing `readonly`,

[2019-12-12 18:52] iangregsondev opened #76 "compatibility with react, functional-parameters ?"
Hi,

First of all, great little addition to eslint! Trying to use ramba (looked at immutablejs but settled on ramba in the end) - I needed a way to ensure I was doing any mutable operations - and this library seems to nail it ! Thanks!

One thing, I decided to implement the

[code]

I was wondering if the order matters, I have it placed here, just before the prettier extends.

[code]

After enabli

[2019-12-13 02:09] RebeccaStevens commented on #76
Your config all seems correct 😄.

With regard to `functional-parameters` enforcing a parameter count, maybe we should disabled this by default for the lite config. @jonaskello, What do you have think about this?

[2019-12-13 19:42] jonaskello commented on #76
Yes, that might be a good idea. Also for people looking just to disable mutation perhaps there should be an `immutable' preset or something like that.

[2019-12-14 08:00] iangregsondev commented on #76
Like the idea of immutable preset. Actually this is my case. Just interested in immutability and not a pure functional direction.

Although I am using ramda  😀

[2019-12-14 22:58] RebeccaStevens commented on #76
Which rules currently enabled in the `lite` config would we want to disable in a new `immutable` config?

[2019-12-18 06:19] iangregsondev commented on #76
@RebeccaStevens I am probably not the best person to comment on that as I have only just started using it.

I haven't come into other issues so far - but truthfully I have only just scratched the surface :-)

[2019-12-25 05:59] iangregsondev commented on #76
I thought I would give an update on my findings and what i am doing.

SO I am now extending from this

[code]

as I am only really interested in the no mutations stuff.

I also setup the following

[code]

and remove the complaints about mutable_

[code]

Maybe this is not the final version :-) ALthough it seems to be working now.

Just one question, I was forced to use allowLocalMutations but I d

[2019-12-27 18:37] kevinbarabash commented on #51
I'm interested in taking this on.

[2019-12-28 09:58] RebeccaStevens commented on #51
@kevinbarabash it's yours 😄.

I think the way to go about it is to add an option to the `prefer-readonly-type` rule called something like `style` with options `keyword` (default) and `generic` .

[2019-12-28 10:49] RebeccaStevens commented on #76
`allowLocalMutation` for the `prefer-readonly-type` rule simply makes the rule ignore locally defined types. Here locally defined basically means defined inside a function. So for example:

[code]

`prefer-readonly-type` only checks type definitions, it doesn't check if data is being mutated; the `immutable-data` rule checks for that.

If you provide me with a more detailed example or a link to yo

[2019-12-28 10:49] #76 closed

[2019-12-28 10:52] RebeccaStevens opened #79 "[functional-parameters] should not enforce a parameter count by default in the [lite] ruleset"
https://github.com/jonaskello/eslint-plugin-functional/issues/76#issuecomment-565269913

[2019-12-28 11:01] RebeccaStevens commented on #76
@jonaskello maybe we should set up a [spectrum community](https://spectrum.chat/)?

[2019-12-28 11:11] iangregsondev commented on #76
Thanks @RebeccaStevens , that answers my question.

[2019-12-28 12:23] RebeccaStevens opened #82 "[no-mixed-interface] rule no longer exists - [all] ruleset needs updating"
https://github.com/jonaskello/eslint-plugin-functional/blob/1b8c60fbfc2c922ea2b08d3fa20e3ec74c10245e/src/configs/all.ts#L20

Should be `no-mixed-type`.

[2019-12-28 12:45] RebeccaStevens commented on #64
I believe the cause of this issue is the same as with #75.

#78 should fix both issues.

[2019-12-28 13:12] RebeccaStevens commented on #32
I can think of two ways to go about this:

**Option 1**
Add an option to the `prefer-readonly-type` rule called something like `style` with options `keyword` (default) and `generic` (maybe also `either`/`any`?).

**Option 2**
Create a new rule to enforce one style over the other

[2019-12-28 14:18] jonaskello commented on #76
@RebeccaStevens I have not yet used spectrum but it seems like a nice alternative to slack, gitter etc. :-). I was thinking this plugin could be a channel in a larger eslint community but could not find any community for eslint. So I set up a separate community for this plugin [here](https://spectrum.chat/eslint-functional) and added a badge to the readme. Please go join :-).

[2019-12-29 02:46] #82 closed

[2019-12-29 02:46] #64 closed

[2019-12-29 02:46] #75 closed

[2019-12-29 04:11] #79 closed

[2020-01-03 21:28] RebeccaStevens opened #87 "[prefer-type-literal] has option [allowLocalMutation], why?"
Should we remove this?

[2020-01-04 03:32] kevinbarabash commented on #51
Thanks.  I'll start work on this this weekend.

[2020-01-21 14:03] avalanche1 opened #91 "[prefer-readonly-type] - Add an option to opt out of function parameters check"
The `readonly` word in fn parameters when declaring a function takes up really much editor space. With my `max-len` settings my editor breaks up a simple functional component declaration into many lines.
I have another es-lint rule that checks that fn arguments are not mutated.

I like:
[code]
I don't like:
[code]

[2020-03-01 03:48] RebeccaStevens commented on #51
@kevinbarabash How you going with this?

[2020-03-01 04:12] kevinbarabash commented on #51
I ended up getting side-tracked by something else and have put my TypeScript development on hold.

[2020-03-12 22:59] JacksonGariety commented on #51
+1 for this. Having to put the `readonly` modifier before every single key decreases readability. And this rule is critical.

[2020-03-26 09:54] avalanche1 opened #96 "[prefer-readonly-type] - Don't report if type is wrapped with ReadOnly utility"
To my knowledge, logically these two are the same:
[code]
The rule reports on the second case. I think it shouldnt.

[2020-03-27 05:18] RebeccaStevens commented on #96
Yes, you're correct. We don't current have support for this.

Duplicate of #51

[2020-03-27 05:18] #96 closed

[2020-04-03 10:54] ulrichb opened #97 "'ignoreAccessorPattern' doesn't get applied to "increment operator""
Sample:

[code]

Config:
[code]

[2020-04-04 20:05] RebeccaStevens opened #98 "[prefer-readonly-type] False positive when allowMutableReturnType is enabled."
The follow will emit a linting error even if the option `allowMutableReturnType` is enabled.

[code]

[2020-04-09 19:43] bitjson opened #99 "[no-conditional-statement] "allowReturningBranches" should allow branches with `never`-returning functions"
As of TypeScript 3.7, [`never`-returning functions now affects the control flow graph](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#better-support-for-never-returning-functions). So now code like below produces an error:
[code]
However, if the `return` is removed, `no-conditional-statement` with `allowReturningBranches` produces an error:
[code]

[2020-04-11 20:59] bitjson commented on #99
On a related note, `throw` statements should also be treated the same way, since TypeScript recognizes that code beyond them is unreachable:
[code]

[2020-04-13 12:39] tomsdev commented on #91
Are you referring to the rule [prefer-readonly-parameters](https://github.com/typescript-eslint/typescript-eslint/pull/1513) ?

[2020-04-16 07:43] RebeccaStevens commented on #91
@avalanche1, I assume you are creating a React Functional Component in the given example. Wouldn't it be best to pull out the prop's type into it's own declared type like this:

[code]

Also, the return type of such an function should be of type `FunctionalComponentElement` (rather than `JSX.Element`):

[code]

If you use an arrow function expression instead of a function declaration, you can just

[2020-04-20 16:23] avalanche1 commented on #91
`no-param-reassign`

It depends. If there are multiple params - then yes. If there is one-two params - why the bloat?

`JSX.Element` has been working just fine for us so far

Our code style guide prohibits usage of  function expressions. We like top-down approach to code which Makes heavy use of function hoisting.

[2020-04-21 06:38] RebeccaStevens commented on #91
`no-param-reassign` doesn't prevent changing sub-properties of a parameter.

In my opinion this wouldn't be bloat; instead it would be a separation of type and executable code.
As a side note, I'd also recommended exporting the props type (as well as the component type).

`JSX.Element` vs `React.FunctionalComponentElement<Props>` is like `Array<any>` vs `Array<SomeDataStructure>`. It works but it'

[2020-04-21 06:41] RebeccaStevens commented on #91
I think I'm going to close this issue as parameters should be readonly.
#51 will make inline readonly parameter less ugly once it implemented.

[2020-04-21 06:41] #91 closed

[2020-05-02 11:39] jacobwgillespie opened #100 "[no-conditional-statement] option to allow switch statements"
Would it be possible to add an option to `no-conditional-statement` that allowed switch statements, forbidding only if statements? I would like to use this with [`@typescript-eslint/switch-exhaustiveness-check`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/switch-exhaustiveness-check.md), which allows for type-aware exhaustiveness checking wi

[2020-05-03 16:17] safareli commented on #51
+1

[2020-05-06 12:59] GuillaumeDesforges opened #101 "Allow React hook in functionnal components"
It is possible to write React component as Functional Component and use "state" with React Hooks.

E.g

[code]

But this triggers a "no statement" error.

[2020-05-06 23:31] RebeccaStevens commented on #101
I'm not able to reproduce the issue you are reporting.

If you try to use `useState` without assigning the result to a variable then you would get this issue but there shouldn't be any issue with the given example.

[2020-05-06 23:31] #101 closed

[2020-05-06 23:41] RebeccaStevens opened #102 "[no-promise-reject] Remove this rule - it's not in the scope of this project."
Promises are a type of [monad](https://en.wikipedia.org/wiki/Monad_(functional_programming)) which are definitely a part of functional programming.

The `no-promise-reject` rule is not only outside the scope of this project but it encourages promise antipatterns.

[2020-05-06 23:42] RebeccaStevens commented on #102
@jonaskello Thoughts?

[2020-05-07 06:47] jonaskello commented on #102
Yes, I would agree with this. In functional programming I think the way to handle errors is to return a value representing the error. This is what the reject function does. My only concern is if we are breaking anyone using this. So maybe wait for feedback for a few days and then we can remove it in next major.

[2020-05-07 08:48] GuillaumeDesforges commented on #101
Then, if the callback is

[code]

It will mark as an error, but

() => {
    const something = {};
    return setState(/* change state */)
}
[code]

[2020-05-07 20:04] RebeccaStevens commented on #101
You can use `ignorePattern` to ignore calls to `setState`.
If I remember right, this is how you can configure the rule:

[code]

Note that React's hook model isn't 100% functional, hence why you are noticing this issue. For React's functional components to be more functional, state would need to be passed in as a parameter and state changes would need to be returned by the function.

[2020-05-09 04:36] RebeccaStevens opened #103 "Add better support for eslint v7"
[Migrating Guide](https://eslint.org/docs/user-guide/migrating-to-7.0.0)

The only section that should be relavent is "[Lint files matched by overrides[].files by default](https://eslint.org/docs/user-guide/migrating-to-7.0.0#lint-files-matched-by-overrides-files-by-default)".

[2020-05-31 03:56] johndatserakis opened #105 "Definition for rule was not found"
Hi there, sorry to bother with this, but I'm running into an issue, only when building, in [this](https://github.com/johndatserakis/koa-react-notes-web.) public repo.

The issue is with disabling an eslint rule concerning a line. For now, I can just use `// eslint-disable-next-line`, but I don't like that because I lose the information of what exactly I'm trying to disable on that line. The file i

[2020-06-09 19:46] whatisaphone opened #106 "prefer-readonly-type: Support mapped types"
It would be nice if prefer-readonly-type supported mapped types.

## Repro

eslint config:

[code]

typescript source code:

[code]

### Expected behavior

The rule should flag both lines, and autofix them to:

[code]

### Actual behavior

The rule flags the first line, but does not flag the second.

[2020-06-09 20:00] whatisaphone commented on #102
Since you asked for feedback, I'll write a bit.

We use this rule at $DAY_JOB. Generally I prefer using monadic error types (a sum type à la Haskell's `Either` or Rust's `Option`). There are many benefits to treating errors as ordinary values instead of giving them a special form of control flow. Notably in typescript you cannot annotate the type of a Promise rejection (we have `Promise<T>`, not `

[2020-06-09 22:14] RebeccaStevens commented on #102
Hmmm, @whatisaphone  that is a good point that you make.

Maybe we should open an issue for typescript itself about adding `Promise<T, E>`. If promise rejections were typed, would you still need this rule?

[2020-06-09 22:17] RebeccaStevens commented on #106
I agree. I'll mark it as a bug that it doesn't already do this.

[2020-06-17 00:16] #97 closed

[2020-06-17 00:33] #106 closed

[2020-06-17 10:30] ulrichb commented on #97
@RebeccaStevens Many thanks!

[2020-06-17 20:24] RebeccaStevens commented on #97
I should be putting out a release in the next day or so.

[2020-06-25 07:09] danielnixon opened #113 "Better motivate no-class rule"
It might be useful to give examples of where classes lead to unsoundness to help motivate the no-class rule.

Here's an example derived from https://medium.com/free-code-camp/typescript-and-its-types-f509d799947d that still applies to TS 3.9:

[code]

[2020-07-21 00:10] RebeccaStevens commented on #102
https://github.com/microsoft/TypeScript/issues/39680

[2020-08-20 08:11] krailler commented on #105
Same here

[2020-08-24 01:43] ybiquitous commented on #103
Thanks a lot for supporting v7! 👏 👏 👏

[2020-09-07 12:29] danielnixon opened #150 "[prefer-readonly-type] doesn't catch mutable records"
`prefer-readonly-type` catches this:

[code]

but not this, which is equivalent:

[code]

It would be great if `prefer-readonly-type` could be extended to catch `Record` (but _not_ `Readonly<Record<...>>`), and even better if it had a fixer that replaced the above with:

[code]

[2020-09-07 21:52] RebeccaStevens commented on #150
Unfortunately we don't support `Readonly<T>` at all yet - support for it being tracked in #51

I believe this issue is will be resolved once support is added.

[2020-09-07 22:51] danielnixon commented on #150
Even without `Readonly<T>` support we could still flag `Record` as mutable? Or would that be too obnoxious because the obvious fix (`Readonly<Record<...>>`) wouldn't appease the linter?

[2020-09-08 00:49] RebeccaStevens commented on #150
Yeah, if we mark `Record<T>` as a mutable type, you would get an error trying to use it in `Readonly<Record<T>>`. #51 needs to be addressed first so that mutable types wrapped by `Readonly` aren't flagged as errors.

[2020-09-08 00:53] danielnixon commented on #150
Thanks Rebecca. My hack to flag `Record` for now in case anyone else lands here before #51 is this: https://github.com/danielnixon/eslint-config-typed-fp/blob/6c989552c16a12d86e300659686a63c42637ab18/src/index.ts#L66-L75

[2020-09-08 11:38] danielnixon opened #151 "[prefer-readonly-type] doesn't catch mutable maps and sets"
Examples:
[code]

And with explicit readonly type annotation:

[code]

`ReadonlySet` and `ReadonlyMap` _are_ built-in TypeScript types, but they don't enjoy special syntax support like arrays do (you can't say `readonly Set<string>`, you must say `ReadonlySet<string>`). For this reason I suspect this issue is a cousin to https://github.com/jonaskello/eslint-plugin-functional/issues/150 and https:/

[2020-09-08 12:15] danielnixon commented on #151
This seems like it could be a duplicate of https://github.com/jonaskello/eslint-plugin-functional/issues/25, but even with [checkImplicit](https://github.com/jonaskello/eslint-plugin-functional/blob/master/docs/rules/prefer-readonly-type.md#checkimplicit) true those constructor calls aren't flagged. 🤔

[2020-09-08 21:46] RebeccaStevens commented on #151
Readonly sets and maps are already supposed to supported.
We currently only have 2 tests that test them though so it might be the case that they aren't being supported in all cases.

Set test: https://github.com/jonaskello/eslint-plugin-functional/blob/master/tests/rules/prefer-readonly-type.test.ts#L395-L409
Map test: https://github.com/jonaskello/eslint-plugin-functional/blob/master/tests/rules/

[2020-09-12 22:17] Mdsp9070 opened #152 "How I'm supposed to replace console.logs, setTimeouts or process.stdout.write?"
Actually is only a doubt. These expressions maybe cause side-effects, but how I'm supposed to replace them? I really need to set the rule off? But that will not open to another side-effects on the file?

[2020-09-13 22:20] RebeccaStevens commented on #152
Write functions (e.g. `console.log`) are pretty much by definition not functional; therefore this lib will flag them by default. To allow them, you need to set an "ignore pattern" on the `no-expression-statement` rule.

For example:

[code]

The same can be done with `setTimeout` or alternatively, the "timeout ID" return by `setTimeout` can be assigned to a variable.

[2020-09-13 22:20] #152 closed

[2020-09-13 22:24] Mdsp9070 commented on #152
Oh, okay, now I understand it! Thank you!

[2020-09-21 04:57] RebeccaStevens opened #153 "[prefer-readonly-type] Rework this rule."
### Function Return Types

The return type of functions shouldn't be enforced to be immutable (by default) (this behavior can currently be turned on with the `allowMutableReturnType` option).

Following from this, the rule [`@typescript-eslint/explicit-function-return-type`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/explicit-function-retur

[2020-09-21 04:57] RebeccaStevens commented on #153
@jonaskello Thought's on this proposal?

[2020-09-21 05:04] RebeccaStevens commented on #102
I'm going to close this issue. The rule get to stay for the foreseeable future.

[2020-09-21 05:04] #102 closed

[2020-09-21 22:53] RebeccaStevens commented on #153
So it seems like the original rule was designed around the idea of "make everything immutable so we can guarantee that mutations aren't happening", while this new proposal is more around the idea of "make things we are using immutable so that we aren't mutating things, don't care what others do" (I don't think that's the best 1 line description but it will do for now).

The "downside" to this new

[2020-09-23 09:22] samhh opened #154 "Pointfree"
Would it be possible to lint for `x => f(x)` and recommend `f`? There are some circumstances in which these aren't equivalent but I think they don't apply if you're enforcing currying.

[2020-09-23 09:26] samhh opened #155 "Module side effects"
This one probably can't be done, but I'm curious if anyone has any thoughts - can we lint against module side effects?

Only way I've thought of so far is to lint specifically against `fp-ts` and enforce that you can't call `Task` or `IO` functions in a module except within another function.

[2020-09-23 21:40] RebeccaStevens commented on #155
I believe if you are using the rule `no-expression-statement`, this will prevent module side effects unless the side effect happens as a result of a function call.
If it becomes possible to [ensure a function is pure in typescript](https://github.com/microsoft/TypeScript/issues/7770) then this could also be prevented.

[2020-09-23 22:03] RebeccaStevens commented on #154
There is a tslint rule that does this: [no-unnecessary-callback-wrapper](https://palantir.github.io/tslint/rules/no-unnecessary-callback-wrapper/).
I wasn't able to find an eslint version of the rule though when I did a quick google.

It's definitely possible for us to support this rule but we'd need to take care with how it's implemented.
We'd probably have to enforce that `x => f(x)` is only a v

[2020-09-23 22:05] RebeccaStevens commented on #154
I think if we were to add this, it would be our only stylist rule.

@jonaskello Would we want to add this rule?

[2020-09-24 17:39] jonaskello commented on #154
I think the idea of this rule is nice and could potentially help people new to fp to understand that this kind of wrapping is unnecessary. I know I have written wrappers like that myself :-).

 I agree we must take care if we implement it. Here is a description of an [issue](https://medium.com/@nicolasdubien/beware-of-linters-41c82b075890) with the equivalent tslint rule. So like @RebeccaStevens s

[2020-09-25 23:44] zEh- opened #156 "[prefer-type-literal] Default whitelist"
### I think of this as enough of a regular case to maybe be worth to be handled.

[code]

**Just another thanks for this project!**

[2020-09-27 20:43] RebeccaStevens commented on #156
Maybe it would be best for the rule to just ignore everything inside a module declaration (`TSModuleDeclaration` nodes). @jonaskello See anything wrong with this idea?

[2020-09-27 20:56] jonaskello commented on #156
I think that could work. I also noticed there is a rule in `@typescript-eslint` that seems very similar: [@typescript-eslint/consistent-type-definitions](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/consistent-type-definitions.md). Would be interesting to see how that rule handles this case. Also thinking if we don't have anything extra to of

[2020-09-27 21:07] RebeccaStevens commented on #156
That rule does look very similar. In that case I think that yes, we should deprecate this rule in favor of that one. Our rule doesn't do anything special.

I don't know if that rule handles the issue raised here or not but if it doesn't, an issue can be raised there for it.

[2020-10-02 02:44] DylanRJohnston commented on #105
Here's a minimal example the exhibits the problem. https://github.com/DylanRJohnston/async-workshop/tree/f2e1d106dfaf06f8fbbeb26aaef69e654bb0d397

[2020-10-02 02:50] DylanRJohnston commented on #105
I'm missing the

[code]

🤦

[2020-10-15 02:54] RebeccaStevens commented on #154
I made a start on this implementing this rule. It seems to be handling the basic case right now.

[2020-12-17 20:35] themaxhero opened #159 "immutable-data exception for class properties"
I want to use Immutability all over the project in my work.
But there is a problem.
Our project is made in Angular, and It's not that trivial to make it work without classes and class properties mutation.

Is there any plan to include this exception?
If not, I would like to know if I implement this, It would be merged?

Thank you for your attention. Have a nice day.

[2020-12-19 06:35] RebeccaStevens commented on #159
Would you be able to provide a code example of what you want to be able to do?

[2020-12-28 07:35] RebeccaStevens commented on #105
@johndatserakis Is this still being an issue for you?

[2020-12-28 15:03] RebeccaStevens opened #170 "Deprecate `prefer-type-literal`"
Deprecate `prefer-type-literal` in favor of [`@typescript-eslint/consistent-type-definitions`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/consistent-type-definitions.md).

[2020-12-28 15:03] RebeccaStevens commented on #156
Made a new issue for deprecating the rule - #170

[2020-12-28 15:03] #156 closed

[2020-12-28 21:41] themaxhero commented on #159
example:
[code]

[2020-12-29 08:18] RebeccaStevens commented on #159
You should be able to just use the "ignoreAccessorPattern" to achieve this:

[code]

Does this achieve what you are wanting?

[2020-12-29 15:28] themaxhero commented on #159
Oh, thank you. :)

[2020-12-29 18:35] #159 closed

[2020-12-30 22:08] #154 closed

[2020-12-30 22:35] RebeccaStevens commented on #154
This is release in version 3.2.0 as an opt-in rule (i.e. it's not included in the recommended config).

Recommended way to opt-in:

[code]

This rule will probably be added to the recommend config in the next major release.

[2020-12-30 22:42] RebeccaStevens opened #171 "[prefer-tacit] Add to recommend and lite configs in the next major release"
# Suggestion

In the next major release, the rule "stylitic" rules (i.e. `functional/prefer-tacit`) should be added to the recommended and lite eslint configs.

[2020-12-30 22:43] RebeccaStevens commented on #171
#154

[2021-01-01 05:04] rivy opened #172 "🐛 ~ `Error while loading rule 'functional/functional-parameters': Object.fromEntries is not a function`"
Platform: MacOS, Ubuntu, and Windows
NodeJS: v10.23.0
ESLint: v7.16.0

From working `v3.1.0`, `v3.2.0` now causes this error when running `npx eslint .`:

[code]

Using either NodeJS v12.20.0+ or holding eslint-plugin-functional to "<3.2.0", `npx eslint .` completes without error.

[GitHub CI](https://github.com/rivy/js.os-paths/actions/runs/454955603) was noted to start failing on [MacOS](https:/

[2021-01-01 05:21] RebeccaStevens commented on #172
Ahh, damn. There was a weird problem when I made the release. I should have tested it afterwards.
I'll mark that release and broken and try and get a new fixed release out soon.

[2021-01-01 05:25] rivy commented on #172
I enabled all rules, then sequentially disabled them; and, it's seems all of the rules are affected by the same issue.

[2021-01-01 05:44] RebeccaStevens commented on #172
I just looked at the diff between the two releases and it seems that the problem is just that the polyfills for older versions of node were not included. I suspect v3.2 should run fine on node 14 and up.

[2021-01-01 05:48] rivy commented on #172
It ran fine on NodeJS-v12+.

[2021-01-01 07:28] RebeccaStevens commented on #172
Should be fix now in v3.2.1

[2021-01-01 07:33] RebeccaStevens commented on #172
Closing this now. Comment here if it doesn't seem to be fixed.

[2021-01-01 07:33] #172 closed

[2021-01-02 00:01] rivy commented on #172
Looks good, local and CI passing.
Thanks for the attention!

[2021-01-05 11:48] #31 closed

[2021-01-06 13:35] #170 closed

[2021-02-21 10:31] peterreisz commented on #98
Linting type definition files (attached to js based libs) also gives you false positive with this option turned on:

[code]

[code]

https://github.com/selfrefactor/rambda/issues/565

[2021-03-14 17:56] samhh opened #194 "Fails to parse some usages of String constructor"
[code]

Minimal repro: `const f = (x: number) => String(x)`

It seems you need to specifically pass an argument into the constructor in return position for this to occur.

This only happens on 3.2.1, not 3.1.0.

[2021-03-22 17:22] crqra commented on #113
Quick question about the `no-class`, how are you creating errors without extending the `Error` class?

[2021-03-22 20:19] RebeccaStevens commented on #113
@crqra Errors can be anything, they don't have to be an instance of `Error`.
For example, an error could just be a string, a number or something like this:
[code]

Though in practice, it is usually best to just use `Error`.
Personally, when I tend to create a new subdirectory for my error classes and just turn off the `no-class` rule for that subdirectory.

If you want to take it a step further, y

[2021-03-23 08:30] crqra commented on #113
@RebeccaStevens What I was doing something similar so far using functions like:

[code]

Having all classes in a sub-dir or single file and just export the functions looks much better because you can implement the actual "type" of error, like `ValidationError` which is much more clear and actionable to whoever gets them down the road.

Thank you for the concise reply, was very helpful!

[2021-04-07 17:55] kschat opened #200 "[prefer-readonly-type] Incorrectly adds "readonly" before variables used to define properties on a type"
# Bug Report

When using this rule with `--fix`, `eslint` incorrectly adds `readonly` inside of the `[]`s when defining a type with a property based on a variable.

## Code

[code]

## Expected behavior

[code]

## Actual behavior

[code]

[2021-04-15 05:49] snowinmars opened #201 "'allowLocalMutation' flag in [immutable-data] rule"
# Suggestion
Allow local objects and arrays to be mutable.

# Example
[code]

# Reason
I'm working on a Angular project. I'm not sure, do I have enough faith to write the project using functional style. But state mutation is evil, so I want to check it with the `eslint-plugin-functional`. I want to add FP as gentle, as I can; step by step.

The example above can be fixed in three ways.
- I can rew

[2021-04-15 06:13] RebeccaStevens commented on #201
`allowLocalMutation` can't really be added to this rule because we can't really determine what is "local mutation". In other rules "local mutation" is considered anything that isn't top level but that wouldn't work for this rule as this wouldn't line up with what most users would expect as soon as nested functions come into play.

I'd recommend using the `ignoreAccessorPattern` option for your cas

[2021-04-15 06:14] #201 closed

[2021-05-04 18:29] garethallenstringer opened #207 "[functional-parameters] ignorePattern isn't matching against reduce function callbacks"
# Bug Report

Having difficulty matching `ignorePattern` to a `.reduce()` function for the case of:

`"functional/functional-parameters": ["warn", { "enforceParameterCount": "exactlyOne", "ignorePattern": ["(?<=\\.reduce\\()(.*)(?=\\))"] }]`

in my eslintrc.json rules. I have tried a multitude of other regular expressions but haven't had any joy.

## Expected behavior

The parameters of the reduce

[2021-05-11 15:12] kristiannotari commented on #99
This would be great to have, both for process.exit and for throw statements

[2021-06-29 08:06] RebeccaStevens opened #214 "Migrating from TSLint docs should be updated to say that TSLint is now deprecated."

[2021-07-03 04:30] toadslop opened #220 "Tips for logging"
# Suggestion

Add tips for avoiding errors when logging.

Every application requires some kind of logging. I think that’s a given. This linter, while excellent, always highlights any logging statement as an error. Though it is true that logging does violate a principle of functional programming in a technical sense, no program actually forgoes logging altogether — they just use functional construc

[2021-07-14 20:25] ldrick opened #221 "Error if prefer-tacit can't fix, due to function recides in another file."
# Bug Report

Given are two files `number.ts` and `fail.ts`. Probably the rule `prefer-tacit` fails on the marked line in `fail.ts` and cannot resolve. So Eslint in Visual Studio Code throws errors on every edit and save.

[code]

[code]

The same situation is not failing, if combined in `one-file.ts`. Then `prefer-tacit` automatically fixes on save.

[code]

## Expected behavior

Rewrites the lin

[2021-07-16 17:12] lhrinaldi opened #222 "`functional/immutable-data` working differently for TS and JS files"
# Bug Report

I'm not sure if this is a bug or it's expected, but `functional/immutable-data` works differently for JS and TS files.

## Expected behavior

I'd expect that the errors would be the same both for JS and TS files.

## Actual behavior

### Report on JS

![image](https://user-images.githubusercontent.com/1268808/125984091-e349c120-73d5-4b2c-af9b-597095e345a8.png)

### Report on TS

![im

[2021-07-16 19:44] lhrinaldi commented on #222
From debugging I found that https://github.com/jonaskello/eslint-plugin-functional/blob/master/src/rules/immutable-data.ts#L291 this function (`isArrayType`) doesn't returns true for TS.

[2021-07-16 19:49] lhrinaldi commented on #222
And this is the output of `node.callee.object`.

[code]

[2021-07-16 23:00] RebeccaStevens commented on #222
JavaScript will assume types by default (see [`assumeTypes`](https://github.com/jonaskello/eslint-plugin-functional/blob/master/docs/rules/immutable-data.md#assumetypes)) while TypeScript relies on using TypeScript's type engine.

I believe the issue you're running into is that you have not enabled TypeScript's type engine in ESLint.
Adjust your ESLint config by adding this:

[code]

See [with Typ

[2021-07-16 23:01] #222 closed

[2021-07-19 13:38] lhrinaldi commented on #222
That was it, thanks :) I thought CRA would already use a TS parser for TS projects.

[2021-07-21 14:31] RebeccaStevens opened #223 "[immutable-data] Add option to ignore class fields"
# Suggestion

When using classes (due to say having to work with 3rd-party code), it would be nice to be able to ignore any mutations made to class fields. This will allow for a more friendly OO coding experience while still gaining the other immutable data benefits.

[2021-07-21 18:11] baptisteArno opened #224 "Using with DOM API? What's the best practice?"
First of all, thank you for this linter, it's helping me a lot to understand how to code functional programs. 🍻

I had a question though and I know it has nothing to do here but I think you can help me:

[code]

This linter seems hard to use with DOM manipulation. I'd like to know what's the best practice here?

[2021-07-22 14:45] RebeccaStevens commented on #224
DOM elements and many other APIs are OO designed and unfortunately we can't write purely functional code to work with these.

Often the best approach is to simply use imperative programming in these cases and configure the rules to ignore these where possible.
For example, you might want to rename `iframe` to `domIframe` (or more generically `mutableIframe`) and configure `immutable-data` to ignor

[2021-07-22 14:45] #224 closed

[2021-07-23 06:26] baptisteArno commented on #224
Thank you very much for taking the time to answer 🙏

[2021-07-25 17:02] RebeccaStevens commented on #105
Closing due to no response.

[2021-07-25 17:02] #105 closed

[2021-07-26 16:47] #223 closed

[2021-07-26 18:44] #99 closed

[2021-07-31 01:29] #200 closed

[2021-07-31 01:47] RebeccaStevens commented on #194
@samhh I haven't been able to reproduce this issue.
Does this issue occur with a specific rule?

Would you be able to provide a larger example?

[2021-07-31 02:11] #98 closed

[2021-07-31 02:27] RebeccaStevens opened #244 "Allow for using AST selectors to ignore stuff"
Allow for using [AST selectors](https://eslint.org/docs/developer-guide/selectors) to ignore stuff like how the [no-restricted-syntax](https://eslint.org/docs/rules/no-restricted-syntax) rule uses them.

[2021-07-31 02:30] RebeccaStevens commented on #207
Unfortunately, regex patterns have there limit.

The proposal in #244 should allow for a nicer way to solve this issue.

[2021-07-31 03:02] RebeccaStevens commented on #194
Found the issue. It's with the prefer-tacit rule.

[2021-07-31 03:11] #194 closed

[2021-07-31 03:11] #221 closed

[2021-07-31 07:19] #100 closed

[2021-07-31 07:20] RebeccaStevens commented on #100
Exhaustiveness type checks are now allowed.

[2021-07-31 08:24] RebeccaStevens commented on #153
@jonaskello I'm thinking that it might best to deprecated this rule in favor of [@typescript-eslint/prefer-readonly-parameter-types](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/prefer-readonly-parameter-types.md).

The core reason for this rule is to do what that rule is doing. The additional things this rule is doing is pretty much things t

[2021-08-02 08:07] #214 closed

[2021-08-02 08:40] RebeccaStevens opened #253 "Dependabot PR are not being automerged"
PRs opened by dependabot are not being automatically merged. This seems to be because the github actions don't have permission to merge the PRs. To resolve this, it seems that an access token needs to be added.

The token needs to be added as a secret and then [specified on this line](https://github.com/jonaskello/eslint-plugin-functional/blob/master/.github/workflows/dependabot-automerge.yml#L25)

[2021-08-02 11:31] jonaskello commented on #253
I did some digging about this. Seems like the reason why dependabot cannot merge is that GITHUB_TOKEN only gives read-only permission when the PR is from a forked repo. See the "Maximum accessby forked repos" in [this article](https://docs.github.com/en/actions/reference/authentication-in-a-workflow#permissions-for-the-github_token). Dependabot seems to fork to its own repo and then create a PR fr

[2021-08-02 11:36] jonaskello commented on #253
According to the [last link in my previous post](https://github.blog/changelog/2021-02-19-github-actions-workflows-triggered-by-dependabot-prs-will-run-with-read-only-permissions/) I think changing the workflow trigger from `pull_request` to `pull_request_target` might work?

[2021-08-02 12:39] RebeccaStevens commented on #253
I gave that article a quick scan through and I think it reasonably safe for this project to just use `pull_request_target`. It's your call though.

[2021-08-02 15:31] #253 closed, assigned to jonaskello

[2021-08-02 15:32] jonaskello commented on #253
So I changed to `pull_request_target`. From what I understand this should make the action run in the context of this repo rather than the fork and therefore give dependabot a write token in `GITHUB_TOKEN`. Let's see if it works :-).

[2021-08-02 16:19] jonaskello commented on #153
I think I understand better what the proposal is now. So instead of explicitly requiring types/interfaces to be declared with `readonly` attributes, the `@typescript-eslint/prefer-readonly-parameter-types` rule would implicitly enforce this requirement by not allowing you to pass anything that is not declared deeply readonly into any of your functions?

I'm hesitant to remove/deprecate the rules t

[2021-08-02 23:57] RebeccaStevens commented on #153
I'm thinking that we might want to add a new rule that deals with ensuring type aliases are readonly/mutable based on some condition. Then that rule in conjunction with `prefer-readonly-parameter-types` would replace `prefer-readonly-type`.

For example:
This new rule could be configured to ensure that any type alias that starts with `Mutable` is not readonly while all others are. Or alternatively

[2021-08-03 04:53] RebeccaStevens commented on #153
I made a start on this new rule. Right now the working name is [prefer-readonly-type-alias](https://github.com/jonaskello/eslint-plugin-functional/pull/255).

[2021-08-07 08:17] RebeccaStevens commented on #153
@jonaskello The new rule is mostly done now; just small tweaks to go and waiting on some upstreams.
Essentially the rule is the same as `prefer-readonly-type` except it only works on Type Aliases and Interfaces.

This new rule plus `@typescript-eslint/prefer-readonly-parameter-types` should be able to replace the current rule. Let me know what you think.

[2021-08-07 09:21] jonaskello commented on #153
I'm trying to understand the implcations of using the `@typescript-eslint/prefer-readonly-parameter-types` + `prefer-readonly-type-alias` (the new rule) combo vs using `prefer-readonly-type`.

Looking at the rule creation code seems like a good place to start:

**prefer-readonly-type**

[code]

**prefer-readonly-type-alias**

[code]

I'll enumerate the differences here for reference:

**Removed**

[2021-08-07 09:38] RebeccaStevens commented on #153
`ArrowFunctionExpression`, `FunctionDeclaration`, `FunctionExpression` are essentially checked by `@typescript-eslint/prefer-readonly-parameter-types` (just not the return type).

So the main difference will be that variable declarations will not be checked (`const foo: Array<number> = ...`) but the `immutable-data` rule can basically handle that.

Also class properties are no longer checked.

[2021-08-07 09:45] RebeccaStevens commented on #153
We can also keep both rules around while we gather feedback from users.

[2021-08-07 10:45] jonaskello commented on #153
From what I understand we have this now then:

[code]
I think we should keep the original intent of the rule to have everything possible declared as readonly types. The `immutable-data` rule can check for mutation of variables but not by declaration of readonly types? So checking for declaration of readonly types for return types and variable declarations would need to be added to the new rule to

[2021-08-07 11:09] jonaskello commented on #153
I think the intent of the rule would be that if you are explicitly declaring something, it should be checked to be a readonly declaration. If you are implicitly inferring a type it should not be checked by this rule. In the implicit case you could either cover it by the `immutable-data` rule or you could enable rules that require explicit declarations and thereby have them checked.

[2021-08-08 00:34] RebeccaStevens commented on #153
My intention behind switching to the new rule and `prefer-readonly-parameter-types` was essentially that it makes work with 3rd-party libraries that aren't functional or provide readonly versions of their types vastly easier.
I wasn't really considering the case of using them in a purely functional environment (which is what the current rule is really good at).

My current thoughts are now that we

[2021-08-08 11:35] jonaskello commented on #153
Yes, at work we usually do projects in a "functional core, imperative shell" style where the all the core application code is more purely functional and the integration with 3rd party libs are pushed to the corners of the app (as 3rd party libs usually are careless with side-effects). For example for client-side we use [typescript-tea](https://github.com/typescript-tea/core) which is just an imple

[2021-08-08 11:39] RebeccaStevens commented on #153
Working on the merged rule now. Seems to be coming along pretty well so far.

[2021-08-08 14:48] RebeccaStevens commented on #153
@jonaskello Merged rule should be pretty much finished now #256
The rule is just `prefer-readonly-type` with updates; no new rules.

[2021-08-09 11:06] RebeccaStevens commented on #153
@jonaskello I've been thinking that it might be best to rename the rule to `prefer-readonly-type-declarations` and keep the original `prefer-readonly-type` rule around but deprecated. My reasoning being that there are a few breaking changes between the new and old rules. Do you think this would be the way to go about things?

[2021-08-17 20:11] jonaskello commented on #155
Yes, having a pure modifier for functions in typescript would be awesome :-).

I usually try to avoid having any code outside of functions in all modules. Having side-effects happen just by importing a module is IMO never wanted. Perhaps we could check if there is anything else than function definitions in a module? That check would be less specific of course but it would eliminate any side-effect

[2021-08-18 19:07] RebeccaStevens opened #260 "Add suggestions to rules"
[eslint suggestions](https://eslint.org/docs/developer-guide/working-with-rules#providing-suggestions)

[2021-08-23 00:36] rafaelss95 opened #261 "[no-method-signature] desconsider `Readonly<{TSMethodSignature}>`"
# Bug Report
According to [**no-method-signature docs**](https://github.com/jonaskello/eslint-plugin-functional/blob/master/docs/rules/no-method-signature.md), we shouldn't use `TSMethodSignature` because it'll be mutable, however we can enforce immutability even for `TSMethodSignature` by using `Readonly<{...}>`.

## Expected behavior
I'd expect the rule to not flag these cases.

## Actual behavi

[2021-08-23 04:21] rafaelss95 commented on #261
Can I work on it, @RebeccaStevens?

[2021-08-23 04:32] RebeccaStevens commented on #261
Yes PRs are always open.

The way I think this should be implemented is by adding a new option to the rule called `ignoreIfReadonly` which is `true` by default.

If the change is quite small (which I imagine it will be) we should be able to release it straight away.
If it's more complicated or wants to use some more advanced features (such as `isReadonly`) like the future [`prefer-readonly-type-de

[2021-08-28 03:50] #261 closed

[2021-08-29 07:40] jens-duttke opened #263 "[prefer-tacit] May cause source of error"
# Bug Report

The [documentation of `prefer-tacit`](https://github.com/jonaskello/eslint-plugin-functional/blob/master/docs/rules/prefer-tacit.md) states:

| Generally there's no reason to wrap a function with a callback wrapper if it's directly called anyway.

But this is not correct.

## Steps to reproduce

Imagine you are using (a third-party library which provides) a function `shorten`:

[code

[2021-08-29 07:57] RebeccaStevens commented on #263
The documentation probably should be updated to highlight this issue.

However, the rule itself is smart enough to not mark the following as a violation if `shorten` is typed as taking more than 1 parameter.

[code]

In JS world were there are no types, the rule's fixer is disabled by default and only set to the "warn" severity.

The only issue comes when the function `shorten` is modified after t

[2021-08-29 09:00] jens-duttke commented on #263
| The only issue comes when the function shorten is modified after the fact.

This is the main problem - the result is code which changes it's behaviour unintentionally.

I just found this article by Jake Archibald who describes the exact same problem:
https://jakearchibald.com/2021/function-callback-risks/
Maybe it could be linked in the documentation of the rule.

[2021-08-29 10:13] jonaskello commented on #263
Well, this seems like a tough problem to solve automatically. If you enable the rule and follow it blindly you could run into situations like the one described here. I would say the developer must understand the risks at each call-site and make a decision.

Documenting the risks more would of course be a good step. I have not used suggestions in eslint but it seems like they may be able to provide

[2021-09-10 02:20] RebeccaStevens commented on #263
I think you're right @jens-duttke, with the way the rule currently is, the rule should be opt-in rather than enabled by default.

I wonder if we could add a setting so that the rule would ignore functions that come from an external source (though this might be difficult to do as "what defines an external source?" - we'd need to get the user to specify (by default it would be any import that doesn'

[2021-09-16 08:17] RebeccaStevens opened #269 "[no-conditional-statement] - allowReturningBranches - should treat continue and break keywords as returning branches."
`continue` and `break` although not functional are a form of `return`, just for a loop rather than a function.

[2021-09-16 08:20] RebeccaStevens opened #270 "[no-let] Add option to allow for ignoring `let`s in for loop initializers."
[code]

The `no-loop` rule can handle preventing loops.

[2021-09-19 14:11] RebeccaStevens commented on #270
I'm not sure whether this should be added or not. There are already options that can be used to handle this:

[code]

[code]

But then again, this option could still be a nice addition. @jonaskello Thoughts?

[2021-09-19 14:55] #269 closed

[2021-09-20 08:35] RebeccaStevens opened #272 "[no-conditional-statement] - allowReturningBranches - broken for switches"
Switches shouldn't treat `break` as returning as it apply to the switch, not the upper loop.

[2021-09-20 08:55] #272 closed

[2021-10-12 06:38] ldrick opened #278 "Support for ESLint 8.0.0"
# Suggestion
ESLint 8.0.0 dropped and brings some breaking changes.
https://eslint.org/docs/8.0.0/user-guide/migrating-to-8.0.0
Yesterday @typescript/eslint also published 5.0.0 to support new ESLint version.
https://github.com/typescript-eslint/typescript-eslint/releases/tag/v5.0.0

From the errors thrown, I see at least this dependency should be updated to support new ESLint:
"@typescript-eslint

[2021-10-14 23:10] RebeccaStevens commented on #278
Thanks for the offer but I'm working on this atm. There should be a release later today.

[2021-10-15 00:15] m4thieulavoie commented on #278
Sorry I should've checked in the issue first, just closed my PRs. Thanks for looking into it 👍

[2021-10-15 00:58] RebeccaStevens commented on #278
I've just released an RC version of the next version of this plugin which has support eslint 8 ([this PR](https://github.com/jonaskello/eslint-plugin-functional/pull/227)). Please feel free to test it out and if all is well, I'll release it in the next day or so.

[2021-10-17 05:34] #278 closed, assigned to nobody

[2021-10-23 14:52] MrZyr0 opened #282 "[functional-parameters] ignore pattern option not working with object expressions"
# Bug Report

I am trying to use the [functional-parameters](https://github.com/jonaskello/eslint-plugin-functional/blob/master/docs/rules/functional-parameters.md) rule in a Nuxt.Js 2 project.
As you may know, Vue.Js (on which Nuxt.Js is based) provides functions for its lifecycle like `mounted()`.

## Expected behavior

These functions will have no parameters in most cases, so I have to ignore t

[2021-10-24 12:51] #282 closed, assigned to nobody

[2021-11-07 15:12] MrZyr0 commented on #282
## You are awesome !

I've updated the plugin, it seems to resolve the error of vue lifecycle functions.

The last thing to fix for the `ignorePattern` is for some functions like `console.log` for the development environment.

I also try for `setTimeout` and I don't work :

<img width="1000" alt="image" src="https://user-images.githubusercontent.com/32927775/140647531-8e7f9a1e-b9dd-4951-989d-5701b

[2021-11-07 23:27] RebeccaStevens commented on #282
That's a different rule that needs to be configured:

[code]

I'm not sure why `console.info` is reporting a violation. That suggests that type information isn't working as the `ignoreVoid` option should handle it. You can ignore it manually by adding this pattern `"^console\\.info"`.

For the list of functions you're passing to `ignorePattern` for `functional-parameters`, there is nothing that co

[2021-11-11 06:37] schoening commented on #270
Entire point of this package is to do more FP. FP has maps and recursion and avoids imperative loops. I think you should add a eslint comment where needed and start using a functional approach where possible:
[code]

[2021-11-11 06:55] jonaskello commented on #270
@schoening Yes that is the point :-). You can already disallow imperative loops entirely by using the [no-loop](https://github.com/jonaskello/eslint-plugin-functional/blob/master/docs/rules/no-loop-statement.md) rule. IIRC one problem with doing recursion for everything in javascript is that tail call optimization is not implemented (but It think it is included in the standard for ECMAScript). The

[2021-11-11 15:05] MrZyr0 commented on #282
Thank you so much for your awesome work !

Indeed, I made a mistake in the rules for the configuration 😅

Now it's working 🤩

However, as you said, it seems that `ingoreVoid` does not work. 😢

[2021-11-12 01:01] RebeccaStevens commented on #282
`ignoreVoid` will work as long as type information is available to eslint. make sure your config includes:

[code]

[2021-11-13 12:58] MrZyr0 commented on #282
Humm 🤔

Okay, here is my `parserOptions` :
[code]

Since, I don't use typescript I have only a `jsconfig.json` :
[code]

Est-ce-que je peux quand même faire quelque chose ?

[2021-11-13 13:18] RebeccaStevens commented on #282
Ah, if you're not using typescript then you can't use the `ignoreVoid` option. That option requires type information in order to identify what functions are void returning functions. You'll need to manually specify the names of all the functions when just using JavaScript.

[2021-11-13 13:21] MrZyr0 commented on #282
I've detected one problem with `functional/functional-parameters` in vue.
We use simple arrow function many times to set default value of props or computed.

As this arrow function is only used to set a value, 99% we don't need a parameter. This triggers the rule and creates a false positive. 😕

<img width="992" alt="image" src="https://user-images.githubusercontent.com/32927775/141645318-44589d39

[2021-11-13 13:23] MrZyr0 commented on #282
Ok, no problem. I only need to know. :)

I think it can be useful to specify this in documentation.

[2021-11-13 15:08] RebeccaStevens commented on #282
https://github.com/jonaskello/eslint-plugin-functional/blob/master/docs/rules/no-expression-statement.md#ignorevoid

[2021-11-13 15:11] RebeccaStevens commented on #282
It's not a false positive as that's exactly what the rule is designed to do when `enforceParameterCount` isn't set to `false` (`false` is not the default).
https://github.com/jonaskello/eslint-plugin-functional/blob/master/docs/rules/functional-parameters.md#enforceparametercount

[2021-11-23 21:47] MrZyr0 commented on #282
Hmmm ok you are right, but it is a problem with this rule anyway 😕

[2021-11-23 21:52] MrZyr0 opened #292 "Documentation links are wrong"
# Bug Report

When I ask my IDE to open the documentation of a rule that is triggered, I get a 404 error.

## Expected behavior

This is appeared after the new version create #282.

## Actual behavior

All documentation pages goes to a 404.
This is the pattern : https://github.com/jonaskello/eslint-plugin-functional/blob/v0.0.0-development/docs/rules/[rule-markdown-file]

## Steps to reproduce

1.

[2021-11-24 12:57] MrZyr0 opened #293 "no-conditional-statement and using resolve in Promise.all callback"
# Bug Report

This rule is triggered when I resolve my Promise in the callback of `Promise.all()` to force me to add `return` before the `resovle()` which is not necessary.

## Expected behavior

Consider `resolve()` and `reject()` as a `return`.

## Actual behavior

EsLint tell me “Incomplete branch, every branch in a conditional statement must contain a return statement.” when I resolve my Promi

[2021-11-24 13:19] RebeccaStevens commented on #293
`resolve` and `reject` do not act as termination points (things can still happen after they are called).

For example:

[code]

[2021-11-24 13:19] #293 closed

[2021-11-24 15:08] MrZyr0 commented on #293
Hmmm ok so should you use `return` with or after `resolve` or `reject` ?

[2021-11-24 15:34] RebeccaStevens commented on #293
Yes

[2021-11-24 19:14] JoRios1006 commented on #72
I'm having the same problem OP mentions, the difference is that I'm using
[code]
Any ideas?

[2021-11-24 19:22] RebeccaStevens commented on #72
@JoRios1006 could you open a new issue for your issue as this one was resolved almost 2 years ago.

[2021-11-24 19:28] JoRios1006 commented on #72
Ofc!

[2021-11-24 19:34] JoRios1006 opened #294 "Ramda's R.sort function fails immutable-data"
# Bug Report

Ramda R.sort fails immutable-data

## Expected behavior

To not do it, because is a pure function

## Actual behavior
24:12  error  Modifying an array is not allowed  functional/immutable-data

## Steps to reproduce
Default plugin config, nothing weird.
[code]

 ## Additional info
[code]

[2021-11-24 21:06] MrZyr0 commented on #293
Okay nice, it's good to know ^^

thanks

[2022-01-08 03:37] RebeccaStevens opened #305 "Switch to using main branch"
@jonaskello Should we rename `master` to `main` as that is the new standard?

[2022-01-08 03:58] #270 closed

[2022-01-08 06:34] #292 closed

[2022-01-08 06:55] RebeccaStevens commented on #151
No one else has reported this issue and its been open for quite a while now. I'm going to close this an assume everything is ok.
If you are still having this issue; please open a new issue.

[2022-01-08 06:55] #151 closed

[2022-01-08 07:16] RebeccaStevens commented on #294
I haven't been able to reproduce this error. Are you still having this error? If so, could you provide a full minimal repo that produces the error?

[2022-01-29 16:54] RebeccaStevens opened #323 "no-throw-statement Add option to allow throws inside async functions"
Throw statements inside an async function are essentially a type of return statement. They won't bubble up.

The following two functions are essentially identical:

[code]

@jonaskello What are your thoughts on potentially making this a default setting?

[2022-02-06 02:29] #323 closed

[2022-03-15 03:35] user72356 opened #349 "Allow local mutation"
Is there a rule that lets me mutate a local object? Something like:

[code]

I feel that maybe ```"functional/no-let": ["error", { "allowLocalMutation": true }]``` should allow the code above?

[2022-03-15 03:42] RebeccaStevens commented on #349
What error are you currently getting? Is it for the "no-let" or "immutable-data" rule?

[2022-03-15 03:46] user72356 commented on #349
I get ```'myVar' is never reassigned. Use 'const' instead.eslint[prefer-const]``` for the let myVar

And a ```Modifying an existing object/array is not allowed.eslint[functional/immutable-data]``` under 2nd line.

[2022-03-15 03:50] RebeccaStevens commented on #349
I'd recommended setting the option "ignoreAccessorPattern" for "immutable-data".
Then if you rename `myVar` to something like `mutableMyVar` then "immutable-data" will no longer report an issue.

If you aren't reassigning the variable then you should use `const` instead of `let` for the first line.

[2022-03-18 02:31] #294 closed

[2022-03-31 20:14] rodrigofariow opened #350 "Possible integration with type-fest ReadonlyDeep"
Hey there!

First of all, I would like to say that this plugin is super awesome and I'm hoping I can use it at work 🥇

At work, we make usage of type-fest, in particular ReadonlyDeep utility type.
I would like to know if the maintainers would consider a possible integration (with `functional/prefer-readonly-type`, for instance), through a new option, that would make use of ReadonlyDeep utility for

[2022-04-01 10:42] RebeccaStevens commented on #350
Hey,

Currently the plain is for next major release of this plugin to address this sort of thing. However there is no time frame for when that might come out.

#259 and #317 are the start of addressing this.
I've also open an [issue over on typescript-eslint](https://github.com/typescript-eslint/typescript-eslint/issues/4536) that is related.

[2022-04-01 10:47] rodrigofariow commented on #350
Hey @RebeccaStevens ,

Thanks for the quick response.
Awesome stuff, glad it has gained some traction!

Closing the issue then since it's somewhat a duplicate.

Cheers!

[2022-04-01 10:47] #350 closed

[2022-04-06 02:28] radomirbosak opened #357 "`deepmerge-ts` dependency <4.0.2 has a security vulnerability CVE-2022-24802"
# Bug Report

deepmerge-js < 4.0.2 apparently contains a Prototype Pollution security vulnerability as reported in

https://security.snyk.io/vuln/SNYK-JS-DEEPMERGETS-2438399
https://nvd.nist.gov/vuln/detail/CVE-2022-24802

## Proposed changes

Update the deepmerge-js to version >= 4.0.2 in package.json

Thank you!

[2022-04-06 04:30] #357 closed

[2022-06-04 16:57] ezedinff opened #377 "TypeError: Failed to load plugin '@typescript-eslint' declared in '--config#overrides[0]'"
I am getting this error when I install this library to my angular project any help please?

[code]

[2022-06-04 18:44] RebeccaStevens commented on #377
Do you get the error when adding it to a fresh/new angular project?

[2022-07-18 03:26] maxxxxxdlp opened #384 "Autofix on TypeScript mapped types with `-readonly` cause syntax error"
# Bug Report

I have the following code:

[code]

ESLint reports "functional/prefer-readonly-type" rule and an option to "--fix" it.

## Expected behavior

Autofix should remove `-`:

[code]

## Actual behavior

Autofix creates a syntax error:

[code]

## Steps to reproduce

ESLint config:

[code]

## Proposed changes

Either disable autofix for `-readonly`, or hande it properly.

See https://gith

[2022-07-18 04:38] RebeccaStevens commented on #384
I believe the correct behavior should be for it to not try and auto fix this at all.

[2022-07-19 02:15] maxxxxxdlp opened #385 "`functional/prefer-readonly-type` false positive on tuple types"
# Bug Report

Given the following code, ESLint reports `functional/prefer-readonly-type` rule:

[code]

## Expected behavior

No error should be reported as the non-readonly tuple is never actually created since it is immediately being cast into a readonly tuple.

## Actual behavior

Autofix replaces the above with:

[code]

## Proposed changes

Don't report the rule in this case, or disable auto

[2022-07-19 02:19] maxxxxxdlp commented on #385
For reference, the `Readonly<>` syntax is preferred because it can be used for the following:

[code]

Where as equivalent using `readonly []` is a syntax error:

[code]

[2022-07-19 02:34] maxxxxxdlp opened #386 "`functional/prefer-readonly-type ` reports false positive for `Readonly<>` generics"
# Bug Report

ESLint reports `functional/prefer-readonly-type` rule on for the `a: number;` line in the following snippet:

[code]

## Expected behavior

The rule should not be reported as type is a non-readonly type is never created.

## Actual behavior

The rules is falsely reported

## Proposed changes

I understand that it might expensive/complex to detect a case like this.

If that is indeed

[2022-07-19 02:39] maxxxxxdlp opened #387 "Autofix for `functional/prefer-readonly-type` produces confusing formatting"
# Bug Report

Autofix for `functional/prefer-readonly-type` on a mapped type like the following inserts `readonly` on a wrong line:

[code]

## Expected behavior

[code]

## Actual behavior

[code]

## Proposed changes

Put `readonly` on the correct line.

## Additional information

Related to #384

[2022-07-19 02:40] RebeccaStevens commented on #385
We currently don't have support for `Readonly` (see #51).

I've been working on the next release which will add support for this.

[2022-07-19 02:40] #385 closed

[2022-07-19 02:42] RebeccaStevens commented on #386
We currently don't have support for `Readonly` (see #51).

I've been working on the next release which will add support for this.

[2022-07-19 02:42] #386 closed

[2022-07-19 02:46] RebeccaStevens commented on #387
I'm not sure why this would be happening. I can look into it but formatting isn't the goal of this plugin; another rule or tool should be used to manage/fix formatting.

[2022-07-28 03:19] github-actions[bot] opened #404 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-08-31 07:40] RebeccaStevens commented on #404
@jonaskello seems like we have an issue with the NPM token. I'll create a new one. I guess delete the old one you made.

[2022-09-02 11:54] renovate[bot] opened #423 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] chore(dev-deps): update dependency @rebeccastevens/eslint-config to v1.5.2
 - [ ] chore(dev-deps): update dependency

[2022-09-07 08:38] RebeccaStevens opened #467 "Rename `ignorePattern`"
`ignorePattern` is only used against identifiers (such as function/variable names) so maybe a better name would be something like `ignoreIdentifiers` or `ignoreNames`.

[2022-09-07 08:44] RebeccaStevens opened #468 "[functional-parameters] Add ignore lambda option"
Add ability to ignore lambda functions:

[code]

All lambda functions could be ignored/enforced via a boolean; specific ones can be ignored/enforced via a pattern of the wrapping function.

[2022-09-08 15:39] #404 closed

[2022-09-20 05:49] renovate[bot] opened #481 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `.github/renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `packageRules[1]: packageRules cannot combine both matchUpdateTypes and rangeStrategy. Rule: {"matchManagers":["npm"],"matchDepType

[2022-09-20 05:52] #481 closed

[2022-09-20 12:14] #244 closed

[2022-09-30 01:06] RebeccaStevens commented on #350
Update: https://github.com/typescript-eslint/typescript-eslint/issues/5699

[2022-09-30 13:15] foray1010 opened #486 "[prefer-tacit] should not consider as error when the user intentionally skipped some parameters"
# Bug Report

test.ts:

[code]

## Expected behavior

No eslint error

## Actual behavior

`prefer-tacit` error, and autofixed to the following code which does not work because parseInt takes a second parameter `radix` and it should not be an `index`

test.ts:

[code]

## Steps to reproduce

Code mentioned above, running in eslint-plugin-functional `v4.4.0` with rule `'functional/prefer-tacit': 'e

[2022-09-30 14:40] RebeccaStevens commented on #486
Yeah, that shouldn't be happening, and I thought there were checks in place to make sure it doesn't.

Can I confirm with you that you are use TypeScript and don't have `assumeTypes.allowFixer` enabled?

[2022-09-30 15:20] foray1010 commented on #486
@RebeccaStevens yup, I am using TS and the rule is `'functional/prefer-tacit': 'error'` - I presume it means `assumeTypes.allowFixer` is not enabled

[2022-09-30 23:59] RebeccaStevens commented on #486
Alright, I'll look into it.

[2022-10-03 09:08] RebeccaStevens commented on #486
Hmmm, strange. I can reproduce the error with `parseInt` but not with `Number.parseInt`.

[2022-10-03 10:57] #486 closed

[2022-10-28 16:26] adrian-gierakowski commented on #51
Just wanted to point out that https://typescript-eslint.io/rules/prefer-readonly-parameter-types works with `Readonly` as well as `ReadonlyDeep` from https://github.com/sindresorhus/type-fest, so maybe we could borrow from it's implementation

[2022-10-28 23:04] RebeccaStevens commented on #51
@adrian-gierakowski I've actually been working over there helping with that rule. I've also since extracted out the relevant bits and improved upon them in a new lib called [is-immutable-type](https://www.npmjs.com/package/is-immutable-type). v5 of this lib (currently in beta) uses that library and resolves this issue.

[2022-11-01 10:47] RebeccaStevens opened #500 "[no-mixed-types] Doesn't catch mixed types in Readonly"
[code]